.CheckUserStatus {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 115px;
    left: 10px;
    width: 150px;
    height: 160px;
    z-index: 20;
    background-color: #485F78;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.CheckUserStatus:before {
    content: '';
    position: absolute;
    display: block;
    left: 50px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #485F78;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 10px 0 10px 55px;
    cursor: pointer;
    color: white;
    font-family: Titillium Web,sans-serif;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
.radio + label:hover {
    background-color: #32465a;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 15px;
    width: 14px;
    height: 14px;
    border: 1px solid #485F78;
    border-radius: 50%;
    background: green;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 17px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 2px rgba(72, 95, 120,.9), 0 0 0 4px rgba(0,128,0, 1);
}


.radio.busy + label:before {
    background: red;
}

.radio.busy:focus + label:before {
    box-shadow: 0 0 0 2px rgba(72, 95, 120,.9), 0 0 0 4px rgba(255, 0, 0,.8);
}

.radio.away + label:before {
    background: yellow;
}

.radio.away:focus + label:before {
    box-shadow: 0 0 0 2px rgba(72, 95, 120,.9), 0 0 0 4px rgba(255,255,0,.9);
}

.radio.offline + label:before {
    background: #E7EAEA;
}

.radio.offline:focus + label:before {
    box-shadow: 0 0 0 2px rgba(72, 95, 120,.9), 0 0 0 4px rgba(231,234,234,.9);
}
